<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet"
        href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
    <title>Inventory System</title>
</head>
<body>
    <nav>
        <div class="navbar">
            <a href="/" class="logo">MandSon Inventory System</a>
            <div class="navbar-right">
                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('index') }}" class="btn btn-primary">Home</a>
                    <a href="{{ url_for('add_user') }}">Add New User</a>  
                    <a href="{{ url_for('logout') }}">Logout</a>
                {% else %}
                    <a href="{{ url_for('login') }}">Login</a>
                {% endif %}   
            </div>
        </div>
    </nav>

    <div class="content">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash-messages">
                    {% for message in messages %}
                        <div class="flash-message">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}
    </div>
    <!-- <script src="/static/js/app.js"></script> -->
</body>
</html>