{% extends 'base.html' %}

{% block content %}
  <h1>Inventory Management System</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for item in inventory_items %}
      <tr>
        <td>{{ item.ProductName }}</td>
        <td>{{ item.Quantity }}</td>
        <td>{{ item.Price }}</td>
        <td>
          <a href="{{ url_for('edit_piece', product_id=item.ProductID) }}">Edit</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <a href="/add-piece" class="btn btn-primary">Add New Piece</a>
{% endblock %}


