{% extends 'base.html' %}

{% block content %}
  <h1>Inventory Management System</h1>
  <div class="toolbar">
    <select id="sort" onchange="sortTable()">
      <option value="name_asc">Sort by Name (Ascending)</option>
      <option value="name_desc">Sort by Name (Descending)</option>
      <option value="quantity_asc">Sort by Quantity (Ascending)</option>
      <option value="quantity_desc">Sort by Quantity (Descending)</option>
    </select>
    <a href="/add-piece" class="btn btn-primary">Add New Piece</a>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Action</th>
        <th>View</th>
      </tr>
    </thead>
    <tbody>
      {% for item in inventory_items %}
      <tr>
        <td class="{{ getRowClass(item.Quantity)}}">{{ item.ProductName }}</td>
        <td class="{{ getRowClass(item.Quantity)}}">{{ item.Quantity }}</td>
        <td class="{{ getRowClass(item.Quantity)}}">{{ item.Price }}</td>
        <td class="{{ getRowClass(item.Quantity)}}">
          <a href="{{ url_for('edit_piece', product_id=item.ProductID) }}">Edit</a>
        </td>
        {% if item.Image %}
        <td class="{{ getRowClass(item.Quantity)}}"><a href="{{ url_for('view_image', inventory_id=item.ProductID) }}">View Barcode</a></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- <a href="/add-piece" class="btn btn-primary">Add New Piece</a> -->

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{{ url_for('static', filename='js/scanner_sub.js') }}"></script>
{% endblock %}